<div class="row">
  <div class="small-12 columns">
    <h1>
      <a href="/">Hashtagged</a>
      <br class="show-for-small-only" />
      <small>for <a href="http://twitter.com/<%= @user_name %>" target="_blank">@<%= @user_name %></a></small>
    </h1>
    <h6 class="subheader">
        Powered by <a href="http://martinisandgreed.com" target="_blank">Martinis &amp; Greed</a>
    </h6>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div id="hashtags" style="width: 300px; height: 350px;"></div>
  </div>
</div>
