<div class="row">
  <div class="small-12 columns">
    <h1>
      <a href="/">Hashtagged</a>
      <br class="show-for-small-only" />
      <small>Tag, you're it. Or something.</small>
    </h1>
    <h6 class="subheader">
        Powered by <a href="http://martinisandgreed.com" target="_blank">Martinis &amp; Greed</a>
    </h6>
  </div>
</div>

<div class="row"><p>&nbsp;</p></div>

<div class="row">
  <div class="large-4 small-12 columns large-centered">
    <form action="/hashtags" method="post">
        <div class="small-12 columns">
          <div class="row collapse">
            <label>See a Twitter user's recent hashtags:</label>

            <div class="small-1 columns">
              <span class="prefix">@</span>
            </div>

            <div class="small-11 columns">
              <input type="text" placeholder="Type here, then hit your enter key." name="user_name" />
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
